@model App.Web.Areas.Recapitulation.Models.SearchRekapBiayaMasuk

@{
    ViewBag.Title = "Rekap School Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Search", Model)
@Html.HiddenFor(model => model.Namasiswa)

<table id="tableRekapSS" class="table" style="width:100%">
    <thead>
		<tr>
			<th>No</th>
			<th>Tanggal Bayar</th>
			<th>No Sisda</th>
			<th>Nama Siswa</th>
			<th>Kelas</th>
			<th>Jenjang</th>
			@*<th>BM Yang dibayarkan</th>*@
			<th>School Support</th>
			<th>Nominal</th>
			<th>Tipe Bayar</th>
			<th>Kasir</th>
		</tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
	$(document).ready(function () {


		var tableRekapSS = $('#tableRekapSS').dataTable({
			"scrollX": true,
			"processing": true,
			"sProcessing": true,
			"bLengthChange": true,
			//"sLoadingRecords":true,
			"scrollCollapse": true,
			"searching": false,
			"bServerSide": true,
			"ordering": false,
			"sAjaxSource": "/Recapitulation/RekapSchoolSupport/AjaxRekapSchoolSupport?format=JSON",
			"bProcessing": true,
			oLanguage: { sProcessing: "<div id='loader'></div>" },
			"fnServerParams": function (aoData) {
				formdata = $('#Req').serializeArray()
				aoData.push(
					{ "name": "tglbayar", "value": $('#tglbayar').val()},
					{ "name": "Nosisda", "value": $('#Nosisda').val() },
					{ "name": "Namasiswa", "value": $('#Namasiswa').val() },
					{ "name": "Kelastingkat", "value": $('#Kelastingkat').val() },
					{ "name": "Jenjang", "value": $('#Jenjang').val() },
                    //{ "name": "BiayaBM", "value": $('#biayaBM').val() },
                    { "name": "JenisSS", "value": $('#JenisSS').val() },
                    { "name": "nominal", "value": $('#nominal').val() },
					{ "name": "tipebayar", "value": $('#tipebayar').val() },
					{ "name": "Username", "value": $('#Username').val() },
				);
			},
			"aoColumns": [
				{
					"render": function (data, type, row, meta) {
						return data;
					}
				},
				{ "sName": "tglbayar" },
				{ "sName": "Nosisda" },
                { "sName": "Namasiswa" },
				{ "sName": "Kelastingkat" },
				{ "sName": "Jenjang" },
                //{ "sName": "BiayaBM" },
                { "sName": "SSName" },
                { "sName": "nominal" },
				{ "sName": "tipebayar" },
				{ "sName": "Username" },
			]
		});

		$('#btnsearch').click(function () {
			tableRekapSS.fnDraw(null);
		});

	});
</script>