@model App.Web.Areas.Transaction.Models.TransactionSearchFormVM
@{
    ViewBag.Title = "Transaksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Search", Model)

<table id="tableTS" class="table" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>No Sisda</th>
            <th>Nama Lengkap</th>
            <th>Periode</th>
            <th>Kelas - Tingkat</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {


        var tableTS = $('#tableTS').dataTable({
            "scrollX": true,
            "processing": true,
            "sProcessing": true,
            "bLengthChange": true,
            //"sLoadingRecords":true,
            "scrollCollapse": true,
            "searching": false,
            "bServerSide": true,
            "ordering": false,
            "sAjaxSource": "/Transaction/Transaction/AjaxTrans?format=JSON",
            "bProcessing": true,
            oLanguage: { sProcessing: "<div id='loader'></div>" },
            "fnServerParams": function (aoData) {
                formdata = $('#Req').serializeArray()
                aoData.push(
                    { "name": "Nosisda", "value": $('#Nosisda').val() },
                    { "name": "Fullname", "value": $('#Fullname').val() },
                    { "name": "Periode", "value": $('#Periode').val() },
                    { "name": "Kelas", "value": $('#Kelas').val() },
                );
            },
            "aoColumns": [
                    {
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                { "sName": "Nosisda" },
                { "sName": "Fullname" },
                { "sName": "Periode" },
                { "sName": "Kelas" },
                    {
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                var x = '<a href="/Transaction/Transaction/FormTrans?nosisda=' + data + '">Lakukan Transaksi</a> | ';
                                x += '<a href="/Transaction/Transaction/Delete?nosisda=' + data + '">Batal Transaksi Terakhir</a>';
                            }

                            return x;
                        }
                    }
            ]
        });

        $('#btnsearch').click(function () {
            tableTS.fnDraw(null);
        });

    });
</script>