@model App.Web.Areas.Transaction.Models.TransactionSearchFormVM
@{
    ViewBag.Title = "Transaksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Search", Model)
@Html.HiddenFor(model => model.NamaSiswa)

<table id="tableTS" class="table" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>No Sisda</th>
            <th>Total Biaya Masuk</th>
            <th>Bayar Biaya Masuk</th>
            <th>Periode</th>
            <th>Bulan SPP</th>
            <th>Pembayaran SPP</th>
            <th>Tipe Pembayaran</th>
            <th>Tanggal Transfer</th>
            <th>Tanggal Pembayaran</th>
            <th>Nama Bank</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {


        var tableTS = $('#tableTS').dataTable({
            "scrollX": true,
            "processing": true,
            "sProcessing": true,
            "bLengthChange": true,
            //"sLoadingRecords":true,
            "scrollCollapse": true,
            "searching": false,
            "bServerSide": true,
            "ordering": false,
            "sAjaxSource": "/Transaction/Transaction/AjaxTrans?format=JSON",
            "bProcessing": true,
            oLanguage: { sProcessing: "<div id='loader'></div>" },
            "fnServerParams": function (aoData) {
                formdata = $('#Req').serializeArray()
                aoData.push(
                    { "name": "Nosisda", "value": $('#Nosisda').val() },
                    { "name": "totalBM", "value": $('#totalBM').val() },
                    { "name": "bayarBM", "value": $('#bayarBM').val() },
                    { "name": "periode", "value": $('#periode').val() },
                    { "name": "bulanspp", "value": $('#bulanspp').val() },
                    { "name": "bayarspp", "value": $('#bayarspp').val() },
                    { "name": "tipebayar", "value": $('#tipebayar').val() },
                    { "name": "tgltransfer", "value": $('#tgltransfer').val() },
                    { "name": "tglbayar", "value": $('#tglbayar').val() },
                    { "name": "namabank", "value": $('#namabank').val() }
                );
            },
            "aoColumns": [
                    {
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                { "sName": "Nosisda" },
                { "sName": "totalBM" },
                { "sName": "bayarBM" },
                { "sName": "periode" },
                { "sName": "bulanspp" },
                { "sName": "bayarspp" },
                { "sName": "tipebayar" },
                { "sName": "tgltransfer" },
                { "sName": "tglbayar" },
                { "sName": "namabank" },
                    {
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                var x = '<a href="/Transaction/Transaction/Details?id=' + data + '">Detail Transaksi</a> | ';
                                x += '<a href="/Transaction/Transaction/FormTrans?id=' + data + '">Lakukan Transaksi</a> | ';
                                x += '<a href="/Transaction/Transaction/Delete?id=' + data + '">Batal Transaksi Terakhir</a>';
                            }

                            return x;
                        }
                    }
            ]
        });

        $('#btnsearch').click(function () {
            tableTS.fnDraw(null);
        });

    });
</script>