@model App.Entities.Models.Transaksi
@{

	ViewBag.Title = "Kwitansi";
	Layout = "~/Views/Shared/_Layout.cshtml";

	/**/
    /**/

    ViewBag.Title = "Kwitansi";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<input type="button" id="kwt" value="Print Kwitansi" class="btn btn-default" />

@Html.HiddenFor(model => model.Nosisda)

<div id="detail" style="padding-left:50px">

	<div width="90%" height="30%" style="padding-left:50px">
		<table width="100%" height="30%" style="border-top: 1px solid black" border=0>
			<tr>
				<td colspan="3" height="10px" style="border-bottom:1px solid black">
					<font size="1px"> Sekolah Islam Terpadu Darul Abidin</font>
				</td>
				<td colspan="3" height="10px" style="border-bottom:1px solid black;border-left: 3px dotted black">
					<font size="1px"> Sekolah Islam Terpadu Darul Abidin</font>
				</td>
			</tr>
			<tr>
				<td colspan="3" align="center"><font size="1px">KWITANSI PEMBAYARAN SPP DAN ADMINISTRASI</font></td>
				<td colspan="3" align="center" style="border-left: 3px dotted black"><font size="1px">KWITANSI PEMBAYARAN SPP DAN ADMINISTRASI</font></td>
			</tr>
			<tr height="10px">
				<td colspan="3"><font size="1px">No Kwitansi : 998989089889089 | 2019-09-09 09:09:09</font></td>
				<td colspan="3" Ali><font size="1px" style="border-left: 3px dotted black">No Kwitansi : 998989089889089 | 2019-09-09 09:09:09</font></td>
			</tr>
			<tr height="10px">
				<td colspan="3"><font size="1px">Nama : Syadiyah</font></td>
				<td colspan="3"><font size="1px" style="border-left: 3px dotted black">Nama : Syadiyah</font></td>
			</tr>
			<tr height="10px">
				<td colspan="3"><font size="1px">&nbsp;nosisda | 9 Mekkah</font></td>
				<td colspan="3"><font size="1px" style="border-left: 3px dotted black">&nbsp;nosisda | 9 Mekkah</font></td>
			</tr>
			<tr height="10px">
				<td colspan="3">&nbsp;</td>
				<td colspan="3" style="border-left: 3px dotted black">&nbsp;</td>
			</tr>

			<tr height="10px">
				<td colspan="3"><font size="1px">SPP : Rp.9.0000,- || February</font></td>
				<td colspan="3"><font size="1px" style="border-left: 3px dotted black">SPP : Rp.9.0000,- || February</font></td>
			</tr>
			<tr height="10px">
				<td colspan="3"><font size="1px">KS : Rp.10.000,- || February</font></td>
				<td colspan="3"><font size="1px" style="border-left: 3px dotted black">KS : Rp.10.000,- || February</font></td>
			</tr>

			<tr height="10px">
				<td colspan="3"><font size="1px">School Support : catering = Rp. 200.000,- || Antar Jemput = Rp.500.000-, || [ket:]</font></td>
				<td colspan="3"><font size="1px" style="border-left: 3px dotted black">School Support : catering = Rp. 200.000,- || Antar Jemput = Rp.500.000-, || [ket:]</font></td>
			</tr>

			<tr height="10px">
				<td colspan="3" height="10px" style="border-bottom:1px solid black; "></td>
				<td colspan="3" height="10px" style="border-bottom:1px solid black;border-left: 3px dotted black"></td>
			</tr>

			<tr height="30px">
				<td width="30%"><font size="1px">Total Yang Harus Bayar : Rp.1.000.000,-</font></td>
				<td><font size="1px"> Oleh </font></td>
				<td><font size="1px">Kasir</font></td>
				<td width="30%"><font size="1px" style="border-left: 3px dotted black">Total Yang Harus Bayar : Rp.1.000.000,-	</font></td>
				<td><font size="1px"> Oleh </font></td>
				<td><font size="1px">Kasir</font></td>
			</tr>

			<tr height="10px">
				<td width="30%"><font size="1px">Uang Bayar : Rp.1.000.000,-</font></td>
				<td><font size="1px">  </font></td>
				<td><font size="1px"></font></td>
				<td width="30%"><font size="1px" style="solid black;border-left: 3px dotted black">Uang Bayar : Rp.1.000.000,-	</font></td>
				<td><font size="1px"> </font></td>
				<td><font size="1px"></font></td>
			</tr>

			<tr height="10px">
				<td width="30%"><font size="1px">Kembalian :</font></td>
				<td><font size="1px">  </font></td>
				<td><font size="1px"></font></td>
				<td width="30%"><font size="1px" style="border-left: 3px dotted black">Kembalian : </font></td>
				<td><font size="1px"> </font></td>
				<td><font size="1px"></font></td>
			</tr>


			<tr height="10px">
				<td colspan="3" height="10px" style="border-bottom:1px solid black; "></td>
				<td colspan="3" height="10px" style="border-bottom:1px solid black;border-left: 3px dotted black"></td>
			</tr>

			<tr height="10px">
				<td colspan="3">
					<font size="1px">
						Dengan ditandatanganinya kwitansi ini,
						maka sekolah dan pemohon setuju atas data transaksi yang tertera di atas.
						Mohon disimpan hingga pembayaran berikutnya. Terima Kasih.
					</font>
				</td>
				<td colspan="3">
					<font size="1px" style="border-left: 3px dotted black">
						Dengan ditandatanganinya kwitansi ini,
						maka sekolah dan pemohon setuju atas data transaksi yang tertera di atas.
						Mohon disimpan hingga pembayaran berikutnya. Terima Kasih.
					</font>
				</td>
			</tr>
		</table>
	</div>

<br />
<div>
    @Html.ActionLink("Back to List", "Index", new { NamaSiswa = System.Web.HttpContext.Current.Session["NamaSiswa"] })
</div>


<script>
	$('#kwt').click(function () {
		$("#detail").printThis();
	});

</script>