@model App.Web.Areas.MasterData.Models.BankSearchFormVM

@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("Search", Model)

<table id="tableBank" class="table" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>Bank Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {


        var tableBank = $('#tableBank').dataTable({
            "scrollX": true,
            "processing": true,
            "sProcessing": true,
            "bLengthChange": true,
            //"sLoadingRecords":true,
            "scrollCollapse": true,
            "searching": false,
            "bServerSide": true,
            "ordering": false,
            "sAjaxSource": "/MasterData/Bank/AjaxBank?format=JSON",
            "bProcessing": true,
            oLanguage: { sProcessing: "<div id='loader'></div>" },
            "fnServerParams": function (aoData) {
                formdata = $('#Req').serializeArray()
                aoData.push(
                    { "name": "Bankname", "value": $('#Name').val() }
                );
            },
            "aoColumns": [
                    {
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    { "sName": "Bankname" },
                    {
                        "render": function (data, type, row, meta) {
                            if (type === 'display') {
                                var x = '<a href="/MasterData/Bank/Details?id=' + data + '">Details</a> | ';
                                x += '<a href="/MasterData/Bank/Edit?id=' + data + '">Edit</a> | ';
                                x += '<a href="/MasterData/Bank/Delete?id=' + data + '">Delete</a>';
                            }

                            return x;
                        }
                    }
            ]
        });

        $('#btnsearch').click(function () {
            tableBank.fnDraw(null);
        });

    });
</script>




