@model App.Web.Areas.MasterData.Models.BankSearchFormVM

@{
    ViewBag.Title = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("Search", Model)

<table id="tableUser" class="table" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>Bank Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
