@model App.Web.Areas.Recapitulation.Models.SearchRekapBiayaMasuk

@{
    ViewBag.Title = "Rekap Biaya Masuk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Search", Model)
@Html.HiddenFor(model => model.Jenjang)
@Html.HiddenFor(model => model.tglbayar)


<table id="tableRekapBiayaMasuk" class="table" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>No Sisda</th>
            <th>Nama Siswa</th>
            <th>Kelas</th>
			<th>Jenjang</th>
            <th>BM Yang dibayarkan</th>
            <th>Tanggal Bayar</th>
            @*<th>Tanggal History</th>*@
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        var tableRekapBiayaMasuk = $('#tableRekapBiayaMasuk').dataTable({
            "scrollX": true,
            "processing": true,
            "sProcessing": true,
            "bLengthChange": true,
            //"sLoadingRecords":true,
            "scrollCollapse": true,
            "searching": false,
            "bServerSide": true,
            "ordering": false,
            "sAjaxSource": "/Recapitulation/RekapBiayaMasuk/AjaxRekapBiayaMasuk?format=JSON",
            "bProcessing": true,
            oLanguage: { sProcessing: "<div id='loader'></div>" },
			"fnServerParams": function (aoData) {
				formdata = $('#Req').serializeArray()
				aoData.push(
					{ "name": "Nosisda", "value": $('#Nosisda').val() },
					{ "name": "Namasiswa", "value": $('#Namasiswa').val() },
					{ "name": "Kelastingkat", "value": $('#Kelastingkat').val() },
					{ "name": "Jenjang", "value": $('Jenjang').val() },
                    { "name": "Tingkat", "value": $('#biayaBM').val() },
                    { "name": "tglbayar", "value": $('#tglbayar').val() }
                );
            },
            "aoColumns": [
                {
                    "render": function (data, type, row, meta) {
                        return data;
                    }
                },
                { "sName": "Nosisda" },
                { "sName": "Namasiswa" },
				{ "sName": "Kelastingkat" },
				{ "sName": "Jenjang"},
                { "sName": "BiayaBM" },
                { "sName": "tglbayar" },
            ]
        });

        $('#btnsearch').click(function () {
            tableRekapBiayaMasuk.fnDraw(null);
        });

    });
</script>