@model App.Web.Areas.Recapitulation.Models.SearchRekapBiayaMasuk

@{
    ViewBag.Title = "Rekap Daftar Ulang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("Search", Model)
@Html.HiddenFor(model => model.Jenjang)
@Html.HiddenFor(model => model.tglbayar)

<table id="tableRekapDU" class="table" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>No Sisda</th>
            <th>Nama Siswa</th>
            <th>Kelas</th>
            <th>Jenjang</th>
            <th>Daftar Ulang</th>
            <th>Tanggal Bayar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {


        var tableRekapDU = $('#tableRekapDU').dataTable({
            "scrollX": true,
            "processing": true,
            "sProcessing": true,
            "bLengthChange": true,
            //"sLoadingRecords":true,
            "scrollCollapse": true,
            "searching": false,
            "bServerSide": true,
            "ordering": false,
            "sAjaxSource": "/Recapitulation/RekapDaftarUlang/AjaxRekapDU?format=JSON",
            "bProcessing": true,
            oLanguage: { sProcessing: "<div id='loader'></div>" },
            "fnServerParams": function (aoData) {
                formdata = $('#Req').serializeArray()
                aoData.push(
                    { "name": "Nosisda", "value": $('#Nosisda').val() },
                    { "name": "Namasiswa", "value": $('#Namasiswa').val() },
                    { "name": "Kelastingkat", "value": $('#Kelastingkat').val() },
                    { "name": "Jenjang", "value": $('#Jenjang').val() },
                    { "name": "cicilDaftarUlang", "value": $('#cicilDaftarUlang').val() },
                    { "name": "tglbayar", "value": $('#tglbayar').val() }

                );
            },
            "aoColumns": [
                {
                    "render": function (data, type, row, meta) {
                        return data;
                    }
                },
                { "sName": "Nosisda" },
                { "sName": "Namasiswa" },
                { "sName": "Kelastingkat" },
                { "sName": "Jenjang" },
                { "sName": "cicilDaftarUlang" },
                { "sName": "tglbayar" },
            ]
        });

        $('#btnsearch').click(function () {
            tableRekapDU.fnDraw(null);
        });

    });
</script>