
@{
    ViewBag.Title = "Assalamualaikum, Selamat Datang.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

<div class="jumbotron">
    <img src="~/Images/LOGODA2.png" alt="Site Logo"/>
    <h2>SDIT Darul Abidin</h2>
</div>

